In [1]:
# Getting all CSV files from a directory
import pandas as pd
import glob
import numpy as np

# specifying the path to csv files
path = r'C:\Users\WM796GU\OneDrive - EY\Documents\Springboard\Capstone Project 2\locations' # use your path

# csv files in the path
all_files = glob.glob(path + "/*.csv")
data_frame = pd.DataFrame()
# defining an empty list to store content
content = []

# checking all the csv files in the specified path
for filename in all_files:
    # reading content of csv file
    df = pd.read_csv(filename, index_col=None)
    df['City'] = df['Location'].value_counts().idxmax()
    content.append(df)

# converting content to data frame
data_frame = pd.concat(content)

In [2]:
data_frame.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,City,Unnamed: 12
0,Geospatial Researcher/Data Scientist IV,$76K - $120K (Glassdoor est.),Battelle delivers when others can’t. We conduc...,3.6,Battelle,"Fort Belvoir, VA",1001 to 5000 Employees,1929,Nonprofit Organization,Research & Development,Management & Consulting,$5 to $10 billion (USD),"Arlington, VA",NaN
1,Senior Data Scientist,$101K - $138K (Glassdoor est.),"JDSAT, Inc. is a solutions company - utilizing...",4.3,JDSAT,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,"Arlington, VA",NaN
2,Software Integrator / Data Scientist - Expert ...,$74K - $109K (Glassdoor est.),*** Must have TS/SCI ***\nJOB DESCRIPTION:\nIn...,4.6,Que Technology Group,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),"Arlington, VA",NaN
3,Lead Data Scientist,$116K - $161K (Glassdoor est.),Tensure is a fully-remote technology consultin...,3.8,Tensure Consulting,"Washington, DC",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,"Arlington, VA",NaN
4,Data Scientist,$76K - $108K (Glassdoor est.),"JDSAT, Inc. is a solutions company - utilizing...",4.3,JDSAT,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,"Arlington, VA",NaN

In [3]:
del data_frame['Unnamed: 12']

In [4]:
# Reading Cost of living data
cost_of_living_data = pd.read_excel("C:/Users/WM796GU/OneDrive - EY/Documents/Springboard/Capstone Project 2/cost_of_living_index.xlsx")

In [5]:
cost_of_living_data.reset_index(drop=True)
cost_of_living_data.drop(['Rank','Groceries Index','Restaurant Price Index'], inplace=True, axis=1)
cost_of_living_data.head()

,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index
0,"New York, NY",100.00,100.00,100.00,100.00
1,"Santa Barbara, CA",100.58,92.10,96.54,84.95
2,"San Francisco, CA",95.43,92.72,94.14,139.20
3,"Oakland, CA",92.39,83.31,88.07,128.59
4,"Honolulu, HI",101.93,63.42,83.61,92.17

In [6]:
# Merging Cost of living data with Glassdoor data
data_frame = data_frame.merge(cost_of_living_data,how='left')

In [7]:
data_frame.head(-50)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index
0,Geospatial Researcher/Data Scientist IV,$76K - $120K (Glassdoor est.),Battelle delivers when others can’t. We conduc...,3.6,Battelle,"Fort Belvoir, VA",1001 to 5000 Employees,1929,Nonprofit Organization,Research & Development,Management & Consulting,$5 to $10 billion (USD),"Arlington, VA",NaN,NaN,NaN,NaN
1,Senior Data Scientist,$101K - $138K (Glassdoor est.),"JDSAT, Inc. is a solutions company - utilizing...",4.3,JDSAT,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,"Arlington, VA",NaN,NaN,NaN,NaN
2,Software Integrator / Data Scientist - Expert ...,$74K - $109K (Glassdoor est.),*** Must have TS/SCI ***\nJOB DESCRIPTION:\nIn...,4.6,Que Technology Group,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),"Arlington, VA",NaN,NaN,NaN,NaN
3,Lead Data Scientist,$116K - $161K (Glassdoor est.),Tensure is a fully-remote technology consultin...,3.8,Tensure Consulting,"Washington, DC",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,"Arlington, VA",NaN,NaN,NaN,NaN
4,Data Scientist,$76K - $108K (Glassdoor est.),"JDSAT, Inc. is a solutions company - utilizing...",4.3,JDSAT,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,"Arlington, VA",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,"Data Scientist, Product Analytics",$223K - $324K (Employer est.),Working at Atlassian\n\nAtlassian can hire peo...,4.7,Atlassian,"San Francisco, CA",5001 to 10000 Employees,2002,Company - Public,Computer Hardware Development,Information Technology,Unknown / Non-Applicable,"San Francisco, CA",95.43,92.72,94.14,139.2
5524,"Senior Data Scientist, Customer Analytics - Ec...",$223K - $324K (Employer est.),Working at Atlassian\n\nAtlassian can hire peo...,4.7,Atlassian,"San Francisco, CA",5001 to 10000 Employees,2002,Company - Public,Computer Hardware Development,Information Technology,Unknown / Non-Applicable,"San Francisco, CA",95.43,92.72,94.14,139.2
5525,Staff Data Scientist (ML Ops),$223K - $324K (Employer est.),Turo is the world's largest car sharing market...,4.8,Turo,"San Francisco, CA",501 to 1000 Employees,2009,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable,"San Francisco, CA",95.43,92.72,94.14,139.2
5526,"Data Scientist, Product",$223K - $324K (Employer est.),About Us:\nWe're on a mission to make it possi...,4.9,Notion,"San Francisco, CA",201 to 500 Employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,"San Francisco, CA",95.43,92.72,94.14,139.2
5527,Senior Data Scientist - TikTok US - Tech Services,$223K - $324K (Employer est.),Responsibilities\nTikTok is the leading destin...,3.6,TikTok,"Mountain View, CA",1001 to 5000 Employees,2016,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable,"San Francisco, CA",95.43,92.72,94.14,139.2

In [8]:
# Checking cities for which we don't have Cost of Living data available
data_frame[data_frame['Cost of Living Index'].isna()]['City'].value_counts()

Arlington, VA    100
Sunnyvale, CA    100
Name: City, dtype: int64

In [9]:
#Considering Arlington, VA to have same cost of living index as Washington D.C. and 
# Sunnyvale to have similar to Santa Clara
columns = ['Cost of Living Index','Rent Index','Cost of Living Plus Rent Index','Local Purchasing Power Index']
data_frame.loc[data_frame['City']=='Arlington, VA', columns] = [84.5, 69.4, 77.32, 125.11]
data_frame.loc[data_frame['City']=='Sunnyvale, CA', columns] = [81.3, 84.8, 83.0, 165.1]

In [10]:
#columns = ['Cost of Living Index','Rent Index','Cost of Living Plus Rent Index','Groceries Index','Restaurant Price Index','Local Purchasing Power Index']
#data_frame.loc[data_frame['City']=='Washington, DC', columns].iloc[:1]

In [11]:
data_frame[data_frame['Cost of Living Index'].isna()]['City'].value_counts()

Series([], Name: City, dtype: int64)

In [12]:
data_frame.to_csv('Glassdoor_jobs_1.csv',index = False)