In [1]:
import pandas as pd
data_frame = pd.read_csv("Glassdoor_jobs.csv")

In [2]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5578 entries, 0 to 5577
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          5578 non-null   object
 1   Salary Estimate    5578 non-null   object
 2   Job Description    5578 non-null   object
 3   Rating             5578 non-null   float64
 4   Company Name       5578 non-null   object
 5   Location           5578 non-null   object
 6   Size               5578 non-null   object
 7   Founded            5578 non-null   int64
 8   Type of ownership  5578 non-null   object
 9   Industry           5578 non-null   object
 10  Sector             5578 non-null   object
 11  Revenue            5578 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 523.1+ KB

In [3]:
data_frame.head(50)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Geospatial Researcher/Data Scientist IV,$76K - $120K (Glassdoor est.),Battelle delivers when others can’t. We conduc...,3.6,Battelle,"Fort Belvoir, VA",1001 to 5000 Employees,1929,Nonprofit Organization,Research & Development,Management & Consulting,$5 to $10 billion (USD)
1,Senior Data Scientist,$101K - $138K (Glassdoor est.),"JDSAT, Inc. is a solutions company - utilizing...",4.3,JDSAT,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable
2,Software Integrator / Data Scientist - Expert ...,$74K - $109K (Glassdoor est.),*** Must have TS/SCI ***\nJOB DESCRIPTION:\nIn...,4.6,Que Technology Group,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD)
3,Lead Data Scientist,$116K - $161K (Glassdoor est.),Tensure is a fully-remote technology consultin...,3.8,Tensure Consulting,"Washington, DC",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable
4,Data Scientist,$76K - $108K (Glassdoor est.),"JDSAT, Inc. is a solutions company - utilizing...",4.3,JDSAT,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable
5,Data Scientist,Employer Provided Salary:$65K - $205K,Data Scientist\nCome join the winning team on ...,4.3,GS Consulting,"Fort George G Meade, MD",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable
6,Defense Data Scientist II,$87K - $126K (Glassdoor est.),Overview\n\nGuidehouse is a leading global pro...,3.7,Guidehouse,"McLean, VA",1001 to 5000 Employees,2018,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable
7,Senior Data Analyst,Employer Provided Salary:$100K - $125K,This position requires 3 days per week onsite ...,3.8,Bloomberg Industry Group,"Washington, DC",1001 to 5000 Employees,1929,Company - Private,Publishing,Media & Communication,$100 to $500 million (USD)
8,Data Scientist,Employer Provided Salary:$125K - $185K,Introduction:\nEpochGeo is looking for a Mid o...,-1.0,EpochGeo,"Washington, DC",-1,-1,-1,-1,-1,-1
9,Defense Senior Data Scientist I,$96K - $137K (Glassdoor est.),Overview\n\nGuidehouse is a leading global pro...,3.7,Guidehouse,"McLean, VA",1001 to 5000 Employees,2018,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable
10,Data Scientist,Employer Provided Salary:$160K - $200K,"Data Scientist\nReston, Herndon, McLean, VA\nT...",5.0,The Josef Group Inc.,"Herndon, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable
11,Data Scientist,Employer Provided Salary:$110K - $115K,"Overview\nStaffing Pros, a division of VETS In...",-1.0,"Staffing Pros, a division of VETS-inc.","Arlington, VA",-1,-1,-1,-1,-1,-1
12,"2023771 Data Scientist $215,000.00",Employer Provided Salary:$215K,Position Requires a Top Secret (TS/SCI) Cleara...,5.0,B4CORP,"McLean, VA",51 to 200 Employees,-1,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
13,DATA SCIENTIST - USMS,Employer Provided Salary:$50K - $300K,The Data Scientist conducts quantitative analy...,3.6,"Venesco, LLC","Arlington, VA",201 to 500 Employees,2004,Company - Public,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
14,Junior Data Labeler,$46K - $73K (Glassdoor est.),Junior Data Labeler\n\nIn this age of disrupti...,4.0,Deloitte,"Rosslyn, VA",10000+ Employees,1850,Company - Private,Accounting & Tax,Financial Services,$10+ billion (USD)
15,Data Scientist,Employer Provided Salary:$120K - $130K,"The Program Development, Coordination, and Sup...",4.6,Delaware Nation Industries,"Arlington, VA",Unknown,-1,Contract,National Agencies,Government & Public Administration,Unknown / Non-Applicable
16,Tech Excellence Data Scientist,$83K - $125K (Glassdoor est.),The Challenge:\nAre you excited at the prospec...,4.2,Booz Allen Hamilton,"Alexandria, VA",10000+ Employees,1914,Company - Public,Business Consulting,Management & Consulting,$5 to $10 billion (USD)
17,Data Scientist,Employer Provided Salary:$62K - $117K,Duties\nAs a Data Scientist within the Geology...,4.0,US Geological Survey,"Reston, VA",5001 to 10000 Employees,1879,Government,National Agencies,Government & Public Administration,Unknown / Non-Applicable
18,Senior Data Scientist,Employer Provided Salary:$96K - $237K,Job Description:\nExperienced in data science ...,-1.0,BRO. Consultants,"McLean, VA",Unknown,-1,Company - Public,-1,-1,Unknown / Non-Applicable
19,Data Scientist,$91K - $131K (Glassdoor est.),Company Description\n\nVisa is a world leader ...,4.0,Visa,"Arlington, VA",10000+ Employees,1958,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
20,Jr. Data Scientist (Remote Eligible),$48K - $74K (Glassdoor est.),"Location\nHQ\n3500 S Clark Street\nArlington, ...",3.2,Lidl US,"Arlington, VA",5001 to 10000 Employees,1973,Company - Private,Grocery Stores,Retail & Wholesale,Unknown / Non-Applicable
21,Data Scientist I,$89K - $127K (Glassdoor est.),"YOUR LIFE'S MISSION: POSSIBLE\nYou have goals,...",4.1,Navy Federal Credit Union,"Vienna, VA",10000+ Employees,1933,Self-employed,Banking & Lending,Financial Services,Unknown / Non-Applicable
22,Data Scientist,Employer Provided Salary:$100K - $130K,"The Program Development, Coordination, and Sup...",-1.0,DNI,"Arlington, VA",-1,-1,-1,-1,-1,-1
23,Senior Data Scientist,Employer Provided Salary:$70 - $75 Per Hour,Experienced in data science / machine learning...,-1.0,Enormous Enterprise LLC,"McLean, VA",51 to 200 Employees,2016,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
24,Data Scientist - Electricity Markets,Employer Provided Salary:$100K - $140K,Data Scientist - Electricity Markets\nData Sci...,-1.0,Potomac Economics,"Fairfax, VA",-1,-1,-1,-1,-1,-1
25,Data Scientist - Clearance Required,$86K - $129K (Glassdoor est.),Overview:\nLMI is a consultancy dedicated to p...,4.1,Logistics Management Institute,"Tysons Corner, VA",1001 to 5000 Employees,1961,Company - Private,Business Consulting,Management & Consulting,$100 to $500 million (USD)
26,Data Scientist with Polygraph,$88K - $138K (Glassdoor est.),"In this age of disruption, organizations need ...",4.0,Deloitte,"Rosslyn, VA",10000+ Employees,1850,Company - Private,Accounting & Tax,Financial Services,$10+ billion (USD)
27,Data Scientist,$90K - $132K (Glassdoor est.),About Us\nWe are a group of Technical Practiti...,5.0,whiteSpace,"Washington, DC",1 to 50 Employees,-1,Self-employed,-1,-1,Unknown / Non-Applicable
28,Senior Data Scientist (Remote/On Site),Employer Provided Salary:$170K - $198K,"Data Scientist\nOverview\nAs an employee, you ...",-1.0,SourceFly,"Fort Belvoir, VA",-1,-1,-1,-1,-1,-1
29,Data Scientist,$97K - $139K (Glassdoor est.),"To get the best candidate experience, please c...",4.4,Salesforce,"Washington, DC",10000+ Employees,1999,Company - Public,Enterprise Software & Network Solutions,Information Technology,$10+ billion (USD)
30,Defense Data Scientist III,$95K - $137K (Glassdoor est.),Overview\n\nGuidehouse is a leading global pro...,3.7,Guidehouse,"McLean, VA",1001 to 5000 Employees,2018,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable
31,Defense Data Scientist III,$95K - $137K (Glassdoor est.),Overview\n\nGuidehouse is a leading global pro...,3.7,Guidehouse,"McLean, VA",1001 to 5000 Employees,2018,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable
32,Pharmaceutical/Biotech Market Research Data Sc...,$95K - $137K (Glassdoor est.),Overview\n\nGuidehouse is a leading global pro...,3.7,Guidehouse,"Tysons Corner, VA",1001 to 5000 Employees,2018,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable
33,"Data Scientist, Junior",$95K - $137K (Glassdoor est.),"Quadrint is a fast-growing, Information Techno...",4.4,"Quadrint, Inc.","McLean, VA",51 to 200 Employees,2000,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
34,Data Scientist,$95K - $137K (Glassdoor est.),"At Boeing, we innovate and collaborate to make...",3.8,BOEING,"Fort Meade, MD",10000+ Employees,1916,Company - Public,Aerospace & Defense,Aerospace & Defense,$10+ billion (USD)
35,Jr. Machine Learning Data Scientist - Python / R,$95K - $137K (Glassdoor est.),"In this age of disruption, organizations need ...",4.0,Deloitte,"Rosslyn, VA",10000+ Employees,1850,Company - Private,Accounting & Tax,Financial Services,$10+ billion (USD)
36,Data Scientist,$95K - $137K (Glassdoor est.),Duties\nThis position is located in the Financ...,3.5,US Library of Congress,"Washington, DC",1001 to 5000 Employees,1800,Government,Culture & Entertainment,"Arts, Entertainment & Recreation",$500 million to $1 billion (USD)
37,"Tech Excellence Data Engineer, Junior",$95K - $137K (Glassdoor est.),The Opportunity:\nEver-expanding technology li...,4.2,Booz Allen Hamilton,"Chantilly, VA",10000+ Employees,1914,Company - Public,Business Consulting,Management & Consulting,$5 to $10 billion (USD)
38,Data Scientist,$95K - $137K (Glassdoor est.),"Overview: Staffing Pros, a division of VETS In...",3.9,Veterans Enterprise Technology Solutions,"Arlington, VA",51 to 200 Employees,2005,Company - Private,National Agencies,Government & Public Administration,$25 to $100 million (USD)
39,Data Scientist/Analyst,$95K - $137K (Glassdoor est.),Qualified candidate will become part of Perato...,3.6,Peraton,"Arlington, VA",10000+ Employees,2017,Company - Private,Information Technology Support Services,Information Technology,$5 to $10 billion (USD)
40,Data Scientist (ALL LEVELS),$95K - $137K (Glassdoor est.),Responsibilities:\nNoblis is seeking to hire D...,4.3,Noblis,"Reston, VA",1001 to 5000 Employees,1996,Nonprofit Organization,Business Consulting,Management & Consulting,$100 to $500 million (USD)
41,Data Scientist,$95K - $137K (Glassdoor est.),Pluribus Digital is looking for a talented Dat...,4.9,Pluribus Digital,"Arlington, VA",51 to 200 Employees,1995,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
42,Data Scientist,$95K - $137K (Glassdoor est.),"Harmonia Holdings Group, LLC, an award-winning...",4.1,"Harmonia Holdings Group, LLC","McLean, VA",201 to 500 Employees,2006,Company - Private,Computer Hardware Development,Information Technology,$25 to $100 million (USD)
43,Junior Data Scientist,$95K - $137K (Glassdoor est.),Dark Wolf Solutions is looking for a Data Scie...,4.9,Dark Wolf Solutions,"McLean, VA",51 to 200 Employees,2019,Company - Private,-1,-1,Unknown / Non-Applicable
44,Data Scientist / Data Analytics,$95K - $137K (Glassdoor est.),Overview:\nSkyePoint Decisions is a leading Cy...,3.5,SkyePoint Decisions,"Rosslyn, VA",1 to 50 Employees,2009,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD)
45,Data Scientist,$95K - $137K (Glassdoor est.),Data Scientist\nFalls Church VA (Merrifield) /...,4.1,Marathon TS,"Springfield, VA",201 to 500 Employees,2009,Company - Private,HR Consulting,Human Resources & Staffing,$25 to $100 million (USD)
46,Aviation Data Scientist,$95K - $137K (Glassdoor est.),ATAC has an opening for an Aviation Data Scien...,3.9,ATAC,"Arlington, VA",51 to 200 Employees,-1,Company - Private,Education & Training Services,Education,$5 to $25 million (USD)
47,Data Scientist,$95K - $137K (Glassdoor est.),Job Summary:\nLooking for a broadly talented D...,4.5,DT Professional Services,"Merrifield, VA",1 to 50 Employees,2013,Company - Public,-1,-1,Less than $1 million (USD)
48,Data Scientist (Hybrid) (Intelligence Center),$95K - $137K (Glassdoor est.),Why choose between doing meaningful work and h...,3.7,The MITRE Corporation,"McLean, VA",5001 to 10000 Employees,1958,Nonprofit Organization,National Agencies,Government & Public Administration,$1 to $5 billion (USD)
49,Data Scientist,$95K - $137K (Glassdoor est.),Duties\nMaking a Difference: HUD's Mission\nHU...,-1.0,US Office of Departmental Equal Employment Opp...,"Washington, DC",-1,-1,-1,-1,-1,-1

In [4]:
#drop duplicate job postings 
data_frame.drop_duplicates(inplace = True)
data_frame.shape

(3440, 12)

Number of rows got reduced from 5578 to 3440 after removing the duplictaes

In [5]:
# to check if there are any null values in Salary column
data_frame['Salary Estimate'].isna().sum()

0

In [6]:
# checking for types of values Salary Estimate column holds
data_frame['Salary Estimate'].value_counts()

$135K - $175K (Employer est.)             155
-1                                        134
$65K - $205K (Employer est.)              110
$180K - $260K (Employer est.)              86
$210K - $304K (Employer est.)              76
                                         ...
Employer Provided Salary:$140K - $145K      1
$77K - $108K (Glassdoor est.)               1
$67K - $97K (Glassdoor est.)                1
$78K - $113K (Glassdoor est.)               1
$112K - $157K (Glassdoor est.)              1
Name: Salary Estimate, Length: 810, dtype: int64

In [7]:
# deleting 134 rows with no salary information (-1 values). This is around 0.04% of the total number of rows
data_frame = data_frame[data_frame['Salary Estimate'] != '-1']
data_frame.shape

(3306, 12)

In [8]:
data_frame['Salary Estimate'].value_counts()

$135K - $175K (Employer est.)             155
$65K - $205K (Employer est.)              110
$180K - $260K (Employer est.)              86
$210K - $304K (Employer est.)              76
$120K - $140K (Employer est.)              67
                                         ...
Employer Provided Salary:$140K - $145K      1
$77K - $108K (Glassdoor est.)               1
$67K - $97K (Glassdoor est.)                1
$78K - $113K (Glassdoor est.)               1
$112K - $157K (Glassdoor est.)              1
Name: Salary Estimate, Length: 809, dtype: int64

In [9]:
# Creating separate columns for following types of salary 
# 1. Per Hour
# 2. Employer Provided Salary
# 3. Employer est.
data_frame['hourly'] = data_frame['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
data_frame['employer provided'] = data_frame['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)
data_frame['employer estimate'] = data_frame['Salary Estimate'].apply(lambda x: 1 if 'employer est.' in x.lower() else 0)

In [10]:
# to check if there are values in the new columns
data_frame.loc[data_frame['hourly']==1]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,hourly,employer provided,employer estimate
23,Senior Data Scientist,Employer Provided Salary:$70 - $75 Per Hour,Experienced in data science / machine learning...,-1.0,Enormous Enterprise LLC,"McLean, VA",51 to 200 Employees,2016,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,1,1,0
21,Data Scientist,Employer Provided Salary:$75 - $80 Per Hour,Overview:\nA data scientist requires large amo...,4.0,Professional Alternative,"Atlanta, GA",Unknown,1995,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,1,1,0
16,Data Scientist/Big Data Analyst,Employer Provided Salary:$50 - $60 Per Hour,Data Scientist / Big Data Specialist\nLocation...,4.7,PRISMITCORP,"Austin, TX",1 to 50 Employees,-1,Company - Private,Information Technology Support Services,Information Technology,Less than $1 million (USD),1,1,0
26,Data Scientist,Employer Provided Salary:$65 - $70 Per Hour,"Hi,\nGreetings...!\nTitle: Data Scientist\nDur...",3.5,NexWave Talent Management Solutions Pvt Ltd.,"Austin, TX",Unknown,-1,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,1,1,0
6,Sr. Research Data Analyst,Employer Provided Salary:$28 - $38 Per Hour,We are seeking a Sr. Research Data Analyst who...,4.1,Johns Hopkins University,"Baltimore, MD",10000+ Employees,1876,College / University,Colleges & Universities,Education,$1 to $5 billion (USD),1,1,0
20,Data Scientist,Employer Provided Salary:$45 - $65 Per Hour,Data Scientist Contractor\nKaizen Analytix LLC...,-1.0,Kaizen Analytix,"Dallas, TX",-1,-1,-1,-1,-1,-1,1,1,0
12,"Analytics Developer, Data Science",Employer Provided Salary:$35 - $52 Per Hour,"Analytics Developer, Data Science\nThis is a f...",3.9,UCHealth,"Aurora, CO",10000+ Employees,2006,Hospital,Health Care Services & Hospitals,Healthcare,Unknown / Non-Applicable,1,1,0
28,Athletics Gameday Statistician,Employer Provided Salary:$25 Per Hour,Job no: 494161\nWork type: Staff Part-Time\nLo...,3.9,The University Of Denver,"Denver, CO",1001 to 5000 Employees,1864,College / University,Colleges & Universities,Education,$100 to $500 million (USD),1,1,0
3,Artificial Intelligence Documentation Specialist,Employer Provided Salary:$20 - $23 Per Hour,Could Conversely AI be your next move? Your fu...,-1.0,Conversely AI,"Bloomfield Hills, MI",-1,-1,-1,-1,-1,-1,1,1,0
4,Data Scientist(Data Bricks experience)-Hybrid,Employer Provided Salary:$35 - $46 Per Hour,"Job Title: Data Scientist\nLocation: Detroit, ...",-1.0,IPS Technology Services,"Detroit, MI",Unknown,-1,Company - Public,-1,-1,Unknown / Non-Applicable,1,1,0
3,Data Scientist IV,Employer Provided Salary:$84 Per Hour,Job Title: Data Scientist IV\nLocation: Menlo ...,3.8,Tailored Management,"Menlo Park, CA",51 to 200 Employees,2002,Company - Private,HR Consulting,Human Resources & Staffing,$25 to $100 million (USD),1,1,0
10,Data Scientist,Employer Provided Salary:$70 - $75 Per Hour,"Job title: Data Scientist\nLocation: MTV, CA (...",3.8,NexWave Talent Management Solutions Pvt Ltd.,"Mountain View, CA",501 to 1000 Employees,2007,Contract,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,1,1,0
11,Data Scientist,Employer Provided Salary:$85 Per Hour,Job Title: Data Scientist\nLocation: Santa Cla...,-1.0,Zodiac Solution Inc,"Sunnyvale, CA",-1,-1,-1,-1,-1,-1,1,1,0
14,Data Scientist,Employer Provided Salary:$70 - $80 Per Hour,"Data Scientist\nMachine Learning, Data Visuali...",-1.0,Saransh Realtors,"Santa Clara, CA",-1,-1,-1,-1,-1,-1,1,1,0
20,Senior Data Analyst,Employer Provided Salary:$57 Per Hour,Accountabilities\nEngage with business Analyst...,4.1,Wiverse,"Kansas City, MO",51 to 200 Employees,2017,Company - Private,Telecommunications Services,Telecommunications,Unknown / Non-Applicable,1,1,0
14,Data Scientist /Data Analyst--H4551,Employer Provided Salary:$40 - $45 Per Hour,Roles and Responsibilities:\nSupport client's ...,3.7,"CSM Software USA, LLC","Torrance, CA",501 to 1000 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,1,1,0
28,Game Mathematician,Employer Provided Salary:$20 - $59 Per Hour,Job Title is Game Mathematician\nWhat you will...,-1.0,VA-Com Online Employment Agency,"Los Angeles, CA",-1,-1,-1,-1,-1,-1,1,1,0
11,Data Analyst - Senior - Decision Support,Employer Provided Salary:$43 - $67 Per Hour,Job Description:\nThis position focuses the ma...,3.6,Intermountain Healthcare,"Las Vegas, NV",10000+ Employees,1975,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,$5 to $10 billion (USD),1,1,0
28,Senior Health Care Research / Senior Healthcar...,Employer Provided Salary:$33 - $50 Per Hour,Job Details\n\nJob Class: Research Scientist 3...,3.7,State of Minnesota,"Saint Paul, MN",10000+ Employees,1967,Government,State & Regional Agencies,Government & Public Administration,Unknown / Non-Applicable,1,1,0
22,Basketball Scorekeeper/Statistician,Employer Provided Salary:$13 - $15 Per Hour,"Open Gym Premier, Southern California's #1 bas...",-1.0,Open Gym Premier,"Oakland, CA",-1,-1,-1,-1,-1,-1,1,1,0
25,Data Scientist,Employer Provided Salary:$65 - $70 Per Hour,"Hi ,\nGreetings from Fiable Consulting Inc\nWe...",-1.0,FIABLE CONSULTING INC,"San Francisco, CA",51 to 200 Employees,2017,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,1,1,0
23,Data Analyst/Scientist,Employer Provided Salary:$40 Per Hour,"Location: Philadelphia,PA\nDuration: Long Term...",4.3,Career Soft Solutions,"Philadelphia, PA",1 to 50 Employees,2004,Private Practice / Firm,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,1,1,0
25,Data Scientist II,Employer Provided Salary:$57 - $65 Per Hour,Qualifications:\nEducation Minimum Requirement...,3.5,Freyr Solutions,"West Point, PA",1001 to 5000 Employees,2007,Company - Private,Information Technology Support Services,Information Technology,$25 to $100 million (USD),1,1,0
4,Federal Work Study Student - Athletics Statist...,Employer Provided Salary:$13 Per Hour,Hiring Salary Range\n\n$13.00/per hour\nNot El...,3.5,Maricopa Community Colleges,"Phoenix, AZ",10000+ Employees,1990,College / University,Colleges & Universities,Education,$100 to $500 million (USD),1,1,0
11,Statistician,Employer Provided Salary:$33 - $39 Per Hour,Company Name: Sciome LLC\nAddress: 2 Davis Dri...,-1.0,Sciome LLC,"Research Triangle Park, NC",-1,-1,-1,-1,-1,-1,1,1,0
13,IT Data Scientist (NC48),Employer Provided Salary:$58 - $63 Per Hour,The client is looking for a candidate who will...,-1.0,Resource Management Associates LLC.,"Raleigh, NC",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,1,1,0
16,Chemical Exposure Data Scientist,Employer Provided Salary:$31 Per Hour,Organization\nU.S. Environmental Protection Ag...,4.0,U.S. Environmental Protection Agency (EPA),"Research Triangle Park, NC",501 to 1000 Employees,1946,Nonprofit Organization,Grantmaking & Charitable Foundations,Nonprofit & NGO,$25 to $100 million (USD),1,1,0
17,Data Scientist,Employer Provided Salary:$70 - $75 Per Hour,Job Description:\nExceptional technical writin...,4.3,Infologitech,"Raleigh, NC",1 to 50 Employees,-1,Company - Private,Information Technology Support Services,Information Technology,$1 to $5 million (USD),1,1,0
24,"Data Scientist, Machine Learning",Employer Provided Salary:$50 Per Hour,JOB OVERVIEW\nAre you a Data Scientist with si...,4.1,BASF Corporation,"Morrisville, NC",501 to 1000 Employees,1999,Company - Private,HR Consulting,Human Resources & Staffing,$25 to $100 million (USD),1,1,0
25,DATA SCIENTIST,Employer Provided Salary:$63 - $65 Per Hour,Stefanini Group is hiring!\nExciting opportuni...,3.7,Stefanini Group,"Durham, NC",10000+ Employees,1987,Subsidiary or Business Segment,Information Technology Support Services,Information Technology,$1 to $5 billion (USD),1,1,0
27,Chemical Exposure Data Scientist,Employer Provided Salary:$31 Per Hour,Overview:\nThe EPA National Student Services C...,4.0,ORAU,"Research Triangle Park, NC",501 to 1000 Employees,1946,Nonprofit Organization,Grantmaking & Charitable Foundations,Nonprofit & NGO,$25 to $100 million (USD),1,1,0
33,"Data Scientist, Machine Learning",Employer Provided Salary:$63 Per Hour,Job Title: Marketing Data Scientist\nLocation:...,4.4,eTeam Inc.,"Morrisville, NC",5001 to 10000 Employees,1999,Company - Private,Staffing & Subcontracting,Human Resources & Staffing,$100 to $500 million (USD),1,1,0
42,Machine Learning Engineer,Employer Provided Salary:$70 - $80 Per Hour,Role – ML Ops Engineer (ML Ops experience mand...,3.5,Digital Dhara LLC,"Raleigh, NC",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,1,1,0
3,Data Scientist,Employer Provided Salary:$36 - $63 Per Hour,Announcement\nDetails\nOpen Date\n12/02/2020\n...,4.2,University of Utah,"Salt Lake City, UT",10000+ Employees,1850,College / University,Colleges & Universities,Education,$1 to $5 billion (USD),1,1,0
11,Data Analyst,Employer Provided Salary:$40 - $45 Per Hour,"Location: HYBRID (2 days onsite) - San Diego, ...",4.0,Insight Global,"San Diego, CA",1001 to 5000 Employees,2001,Company - Private,HR Consulting,Human Resources & Staffing,$25 to $100 million (USD),1,1,0
12,Associate Data Scientist,Employer Provided Salary:$30 - $34 Per Hour,"San Diego, CA\nOrder: 224098\nOrder Type : Tem...",4.6,Eastridge Workforce Solutions,"San Diego, CA",201 to 500 Employees,1972,Company - Private,HR Consulting,Human Resources & Staffing,$100 to $500 million (USD),1,1,0
10,Data Scientist,Employer Provided Salary:$39 - $40 Per Hour,Data Scientist - Upstream R&D Cell Culture\n*T...,3.9,MilliporeSigma,"Saint Louis, MO",10000+ Employees,2014,Subsidiary or Business Segment,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,$10+ billion (USD),1,1,0
6,Data Scientist,Employer Provided Salary:$50 - $60 Per Hour,"Data Scientist\nNewark, NJ (Hybrid, must be wi...",4.1,Brooksource,"Newark, NJ",501 to 1000 Employees,2000,Company - Private,HR Consulting,Human Resources & Staffing,$100 to $500 million (USD),1,1,0
3,Digital Data Scientist (H),Employer Provided Salary:$50 - $55 Per Hour,Digital Data Scientist (H)\nA leading biotechn...,4.8,Avispa Technology,"South San Francisco, CA",51 to 200 Employees,2011,Company - Private,HR Consulting,Human Resources & Staffing,$5 to $25 million (USD),1,1,0
21,Data Scientist [Remote],Employer Provided Salary:$90 - $110 Per Hour,"JOB TYPE: Freelance, Contract Position (no age...",4.6,Braintrust,"San Francisco, CA",Unknown,2018,Company - Private,Business Consulting,Management & Consulting,$5 to $25 million (USD),1,1,0

We observed all the rows with string 'per hour' also contain string 'employer provided salary'.

In [11]:
# Removing text after bracket from salary column
salary = data_frame['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [12]:
salary.head(40)

0                                   $76K - $120K
1                                  $101K - $138K
2                                   $74K - $109K
3                                  $116K - $161K
4                                   $76K - $108K
5           Employer Provided Salary:$65K - $205K
6                                   $87K - $126K
7          Employer Provided Salary:$100K - $125K
8          Employer Provided Salary:$125K - $185K
9                                   $96K - $137K
10         Employer Provided Salary:$160K - $200K
11         Employer Provided Salary:$110K - $115K
12                 Employer Provided Salary:$215K
13          Employer Provided Salary:$50K - $300K
14                                   $46K - $73K
15         Employer Provided Salary:$120K - $130K
16                                  $83K - $125K
17          Employer Provided Salary:$62K - $117K
18          Employer Provided Salary:$96K - $237K
19                                  $91K - $131K
20                                   $48K - $74K
21                                  $89K - $127K
22         Employer Provided Salary:$100K - $130K
23    Employer Provided Salary:$70 - $75 Per Hour
24         Employer Provided Salary:$100K - $140K
25                                  $86K - $129K
26                                  $88K - $138K
27                                  $90K - $132K
28         Employer Provided Salary:$170K - $198K
29                                  $97K - $139K
30                                  $95K - $137K
32                                  $95K - $137K
33                                  $95K - $137K
34                                  $95K - $137K
35                                  $95K - $137K
36                                  $95K - $137K
37                                  $95K - $137K
38                                  $95K - $137K
39                                  $95K - $137K
40                                  $95K - $137K
Name: Salary Estimate, dtype: object

In [13]:
# Removing K and $ from the salary column
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [14]:
# to check how many rows still contains any alphabet values 
minus_Kd.str.contains('[a-zA-Z]').sum()

291

In [15]:
# Number of rows with Employer in them
minus_Kd.str.contains('Employer').sum()

291

All the alphabetic rows have word 'Employer' in them. If we remove all the text from the employer rows, it should work.

In [16]:
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [17]:
data_frame['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]) if '-' in x else np.NaN)
data_frame['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]) if '-' in x else np.NaN)

In [18]:
data_frame['avg_salary'] =(data_frame.min_salary+data_frame.max_salary)/2

In [19]:
#If range not provided, assigned the sigle value salary available
data_frame['avg_salary'][data_frame['avg_salary'].isna()] = min_hr

C:\Users\WM796GU\AppData\Local\Temp\ipykernel_39552\456859982.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['avg_salary'][data_frame['avg_salary'].isna()] = min_hr

In [20]:
data_frame.head(50)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,hourly,employer provided,employer estimate,min_salary,max_salary,avg_salary
0,Geospatial Researcher/Data Scientist IV,$76K - $120K (Glassdoor est.),Battelle delivers when others can’t. We conduc...,3.6,Battelle,"Fort Belvoir, VA",1001 to 5000 Employees,1929,Nonprofit Organization,Research & Development,Management & Consulting,$5 to $10 billion (USD),0,0,0,76.0,120.0,98.0
1,Senior Data Scientist,$101K - $138K (Glassdoor est.),"JDSAT, Inc. is a solutions company - utilizing...",4.3,JDSAT,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,0,0,0,101.0,138.0,119.5
2,Software Integrator / Data Scientist - Expert ...,$74K - $109K (Glassdoor est.),*** Must have TS/SCI ***\nJOB DESCRIPTION:\nIn...,4.6,Que Technology Group,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),0,0,0,74.0,109.0,91.5
3,Lead Data Scientist,$116K - $161K (Glassdoor est.),Tensure is a fully-remote technology consultin...,3.8,Tensure Consulting,"Washington, DC",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,0,0,0,116.0,161.0,138.5
4,Data Scientist,$76K - $108K (Glassdoor est.),"JDSAT, Inc. is a solutions company - utilizing...",4.3,JDSAT,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,0,0,0,76.0,108.0,92.0
5,Data Scientist,Employer Provided Salary:$65K - $205K,Data Scientist\nCome join the winning team on ...,4.3,GS Consulting,"Fort George G Meade, MD",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,0,1,0,65.0,205.0,135.0
6,Defense Data Scientist II,$87K - $126K (Glassdoor est.),Overview\n\nGuidehouse is a leading global pro...,3.7,Guidehouse,"McLean, VA",1001 to 5000 Employees,2018,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable,0,0,0,87.0,126.0,106.5
7,Senior Data Analyst,Employer Provided Salary:$100K - $125K,This position requires 3 days per week onsite ...,3.8,Bloomberg Industry Group,"Washington, DC",1001 to 5000 Employees,1929,Company - Private,Publishing,Media & Communication,$100 to $500 million (USD),0,1,0,100.0,125.0,112.5
8,Data Scientist,Employer Provided Salary:$125K - $185K,Introduction:\nEpochGeo is looking for a Mid o...,-1.0,EpochGeo,"Washington, DC",-1,-1,-1,-1,-1,-1,0,1,0,125.0,185.0,155.0
9,Defense Senior Data Scientist I,$96K - $137K (Glassdoor est.),Overview\n\nGuidehouse is a leading global pro...,3.7,Guidehouse,"McLean, VA",1001 to 5000 Employees,2018,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable,0,0,0,96.0,137.0,116.5
10,Data Scientist,Employer Provided Salary:$160K - $200K,"Data Scientist\nReston, Herndon, McLean, VA\nT...",5.0,The Josef Group Inc.,"Herndon, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,0,1,0,160.0,200.0,180.0
11,Data Scientist,Employer Provided Salary:$110K - $115K,"Overview\nStaffing Pros, a division of VETS In...",-1.0,"Staffing Pros, a division of VETS-inc.","Arlington, VA",-1,-1,-1,-1,-1,-1,0,1,0,110.0,115.0,112.5
12,"2023771 Data Scientist $215,000.00",Employer Provided Salary:$215K,Position Requires a Top Secret (TS/SCI) Cleara...,5.0,B4CORP,"McLean, VA",51 to 200 Employees,-1,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,0,1,0,NaN,NaN,215
13,DATA SCIENTIST - USMS,Employer Provided Salary:$50K - $300K,The Data Scientist conducts quantitative analy...,3.6,"Venesco, LLC","Arlington, VA",201 to 500 Employees,2004,Company - Public,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,0,1,0,50.0,300.0,175.0
14,Junior Data Labeler,$46K - $73K (Glassdoor est.),Junior Data Labeler\n\nIn this age of disrupti...,4.0,Deloitte,"Rosslyn, VA",10000+ Employees,1850,Company - Private,Accounting & Tax,Financial Services,$10+ billion (USD),0,0,0,46.0,73.0,59.5
15,Data Scientist,Employer Provided Salary:$120K - $130K,"The Program Development, Coordination, and Sup...",4.6,Delaware Nation Industries,"Arlington, VA",Unknown,-1,Contract,National Agencies,Government & Public Administration,Unknown / Non-Applicable,0,1,0,120.0,130.0,125.0
16,Tech Excellence Data Scientist,$83K - $125K (Glassdoor est.),The Challenge:\nAre you excited at the prospec...,4.2,Booz Allen Hamilton,"Alexandria, VA",10000+ Employees,1914,Company - Public,Business Consulting,Management & Consulting,$5 to $10 billion (USD),0,0,0,83.0,125.0,104.0
17,Data Scientist,Employer Provided Salary:$62K - $117K,Duties\nAs a Data Scientist within the Geology...,4.0,US Geological Survey,"Reston, VA",5001 to 10000 Employees,1879,Government,National Agencies,Government & Public Administration,Unknown / Non-Applicable,0,1,0,62.0,117.0,89.5
18,Senior Data Scientist,Employer Provided Salary:$96K - $237K,Job Description:\nExperienced in data science ...,-1.0,BRO. Consultants,"McLean, VA",Unknown,-1,Company - Public,-1,-1,Unknown / Non-Applicable,0,1,0,96.0,237.0,166.5
19,Data Scientist,$91K - $131K (Glassdoor est.),Company Description\n\nVisa is a world leader ...,4.0,Visa,"Arlington, VA",10000+ Employees,1958,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),0,0,0,91.0,131.0,111.0
20,Jr. Data Scientist (Remote Eligible),$48K - $74K (Glassdoor est.),"Location\nHQ\n3500 S Clark Street\nArlington, ...",3.2,Lidl US,"Arlington, VA",5001 to 10000 Employees,1973,Company - Private,Grocery Stores,Retail & Wholesale,Unknown / Non-Applicable,0,0,0,48.0,74.0,61.0
21,Data Scientist I,$89K - $127K (Glassdoor est.),"YOUR LIFE'S MISSION: POSSIBLE\nYou have goals,...",4.1,Navy Federal Credit Union,"Vienna, VA",10000+ Employees,1933,Self-employed,Banking & Lending,Financial Services,Unknown / Non-Applicable,0,0,0,89.0,127.0,108.0
22,Data Scientist,Employer Provided Salary:$100K - $130K,"The Program Development, Coordination, and Sup...",-1.0,DNI,"Arlington, VA",-1,-1,-1,-1,-1,-1,0,1,0,100.0,130.0,115.0
23,Senior Data Scientist,Employer Provided Salary:$70 - $75 Per Hour,Experienced in data science / machine learning...,-1.0,Enormous Enterprise LLC,"McLean, VA",51 to 200 Employees,2016,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,1,1,0,70.0,75.0,72.5
24,Data Scientist - Electricity Markets,Employer Provided Salary:$100K - $140K,Data Scientist - Electricity Markets\nData Sci...,-1.0,Potomac Economics,"Fairfax, VA",-1,-1,-1,-1,-1,-1,0,1,0,100.0,140.0,120.0
25,Data Scientist - Clearance Required,$86K - $129K (Glassdoor est.),Overview:\nLMI is a consultancy dedicated to p...,4.1,Logistics Management Institute,"Tysons Corner, VA",1001 to 5000 Employees,1961,Company - Private,Business Consulting,Management & Consulting,$100 to $500 million (USD),0,0,0,86.0,129.0,107.5
26,Data Scientist with Polygraph,$88K - $138K (Glassdoor est.),"In this age of disruption, organizations need ...",4.0,Deloitte,"Rosslyn, VA",10000+ Employees,1850,Company - Private,Accounting & Tax,Financial Services,$10+ billion (USD),0,0,0,88.0,138.0,113.0
27,Data Scientist,$90K - $132K (Glassdoor est.),About Us\nWe are a group of Technical Practiti...,5.0,whiteSpace,"Washington, DC",1 to 50 Employees,-1,Self-employed,-1,-1,Unknown / Non-Applicable,0,0,0,90.0,132.0,111.0
28,Senior Data Scientist (Remote/On Site),Employer Provided Salary:$170K - $198K,"Data Scientist\nOverview\nAs an employee, you ...",-1.0,SourceFly,"Fort Belvoir, VA",-1,-1,-1,-1,-1,-1,0,1,0,170.0,198.0,184.0
29,Data Scientist,$97K - $139K (Glassdoor est.),"To get the best candidate experience, please c...",4.4,Salesforce,"Washington, DC",10000+ Employees,1999,Company - Public,Enterprise Software & Network Solutions,Information Technology,$10+ billion (USD),0,0,0,97.0,139.0,118.0
30,Defense Data Scientist III,$95K - $137K (Glassdoor est.),Overview\n\nGuidehouse is a leading global pro...,3.7,Guidehouse,"McLean, VA",1001 to 5000 Employees,2018,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable,0,0,0,95.0,137.0,116.0
32,Pharmaceutical/Biotech Market Research Data Sc...,$95K - $137K (Glassdoor est.),Overview\n\nGuidehouse is a leading global pro...,3.7,Guidehouse,"Tysons Corner, VA",1001 to 5000 Employees,2018,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable,0,0,0,95.0,137.0,116.0
33,"Data Scientist, Junior",$95K - $137K (Glassdoor est.),"Quadrint is a fast-growing, Information Techno...",4.4,"Quadrint, Inc.","McLean, VA",51 to 200 Employees,2000,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,0,0,0,95.0,137.0,116.0
34,Data Scientist,$95K - $137K (Glassdoor est.),"At Boeing, we innovate and collaborate to make...",3.8,BOEING,"Fort Meade, MD",10000+ Employees,1916,Company - Public,Aerospace & Defense,Aerospace & Defense,$10+ billion (USD),0,0,0,95.0,137.0,116.0
35,Jr. Machine Learning Data Scientist - Python / R,$95K - $137K (Glassdoor est.),"In this age of disruption, organizations need ...",4.0,Deloitte,"Rosslyn, VA",10000+ Employees,1850,Company - Private,Accounting & Tax,Financial Services,$10+ billion (USD),0,0,0,95.0,137.0,116.0
36,Data Scientist,$95K - $137K (Glassdoor est.),Duties\nThis position is located in the Financ...,3.5,US Library of Congress,"Washington, DC",1001 to 5000 Employees,1800,Government,Culture & Entertainment,"Arts, Entertainment & Recreation",$500 million to $1 billion (USD),0,0,0,95.0,137.0,116.0
37,"Tech Excellence Data Engineer, Junior",$95K - $137K (Glassdoor est.),The Opportunity:\nEver-expanding technology li...,4.2,Booz Allen Hamilton,"Chantilly, VA",10000+ Employees,1914,Company - Public,Business Consulting,Management & Consulting,$5 to $10 billion (USD),0,0,0,95.0,137.0,116.0
38,Data Scientist,$95K - $137K (Glassdoor est.),"Overview: Staffing Pros, a division of VETS In...",3.9,Veterans Enterprise Technology Solutions,"Arlington, VA",51 to 200 Employees,2005,Company - Private,National Agencies,Government & Public Administration,$25 to $100 million (USD),0,0,0,95.0,137.0,116.0
39,Data Scientist/Analyst,$95K - $137K (Glassdoor est.),Qualified candidate will become part of Perato...,3.6,Peraton,"Arlington, VA",10000+ Employees,2017,Company - Private,Information Technology Support Services,Information Technology,$5 to $10 billion (USD),0,0,0,95.0,137.0,116.0
40,Data Scientist (ALL LEVELS),$95K - $137K (Glassdoor est.),Responsibilities:\nNoblis is seeking to hire D...,4.3,Noblis,"Reston, VA",1001 to 5000 Employees,1996,Nonprofit Organization,Business Consulting,Management & Consulting,$100 to $500 million (USD),0,0,0,95.0,137.0,116.0
41,Data Scientist,$95K - $137K (Glassdoor est.),Pluribus Digital is looking for a talented Dat...,4.9,Pluribus Digital,"Arlington, VA",51 to 200 Employees,1995,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,0,0,0,95.0,137.0,116.0
42,Data Scientist,$95K - $137K (Glassdoor est.),"Harmonia Holdings Group, LLC, an award-winning...",4.1,"Harmonia Holdings Group, LLC","McLean, VA",201 to 500 Employees,2006,Company - Private,Computer Hardware Development,Information Technology,$25 to $100 million (USD),0,0,0,95.0,137.0,116.0
43,Junior Data Scientist,$95K - $137K (Glassdoor est.),Dark Wolf Solutions is looking for a Data Scie...,4.9,Dark Wolf Solutions,"McLean, VA",51 to 200 Employees,2019,Company - Private,-1,-1,Unknown / Non-Applicable,0,0,0,95.0,137.0,116.0
44,Data Scientist / Data Analytics,$95K - $137K (Glassdoor est.),Overview:\nSkyePoint Decisions is a leading Cy...,3.5,SkyePoint Decisions,"Rosslyn, VA",1 to 50 Employees,2009,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD),0,0,0,95.0,137.0,116.0
45,Data Scientist,$95K - $137K (Glassdoor est.),Data Scientist\nFalls Church VA (Merrifield) /...,4.1,Marathon TS,"Springfield, VA",201 to 500 Employees,2009,Company - Private,HR Consulting,Human Resources & Staffing,$25 to $100 million (USD),0,0,0,95.0,137.0,116.0
46,Aviation Data Scientist,$95K - $137K (Glassdoor est.),ATAC has an opening for an Aviation Data Scien...,3.9,ATAC,"Arlington, VA",51 to 200 Employees,-1,Company - Private,Education & Training Services,Education,$5 to $25 million (USD),0,0,0,95.0,137.0,116.0
47,Data Scientist,$95K - $137K (Glassdoor est.),Job Summary:\nLooking for a broadly talented D...,4.5,DT Professional Services,"Merrifield, VA",1 to 50 Employees,2013,Company - Public,-1,-1,Less than $1 million (USD),0,0,0,95.0,137.0,116.0
48,Data Scientist (Hybrid) (Intelligence Center),$95K - $137K (Glassdoor est.),Why choose between doing meaningful work and h...,3.7,The MITRE Corporation,"McLean, VA",5001 to 10000 Employees,1958,Nonprofit Organization,National Agencies,Government & Public Administration,$1 to $5 billion (USD),0,0,0,95.0,137.0,116.0
49,Data Scientist,$95K - $137K (Glassdoor est.),Duties\nMaking a Difference: HUD's Mission\nHU...,-1.0,US Office of Departmental Equal Employment Opp...,"Washington, DC",-1,-1,-1,-1,-1,-1,0,0,0,95.0,137.0,116.0
50,Data Scientist,$95K - $137K (Glassdoor est.),Discover patterns and solve strategic business...,-1.0,VivusTech,"Chantilly, VA",Unknown,-1,Company - Public,-1,-1,Unknown / Non-Applicable,0,0,0,95.0,137.0,116.0

In [21]:
#state of the job location
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])

IndexError: list index out of range

In [22]:
# Figuring out reason for the error.
data_frame['Location'][~data_frame['Location'].str.contains(',')].value_counts()

United States    17
Manhattan        17
California       15
Texas             3
St Louis Park     2
Florida           2
Hawaii            1
Pennsylvania      1
Name: Location, dtype: int64

Rows which have above locations do not contain character ',' in them. This is leading to the above error in accessing the second item of the list.

In [23]:
states = data_frame['Location'][~data_frame['Location'].str.contains(',')].value_counts().index

In [24]:
data_frame['job_state'] = data_frame['Location'].apply(lambda x: x if x in states else x.split(',')[1])

In [25]:
data_frame['job_state'].value_counts()

 CA              610
 TX              278
 OH              253
 FL              253
 NC              182
 NY              163
 MO              106
 MD              106
 VA              102
 MA               97
 AZ               90
 MI               86
 CO               83
 IL               82
 WA               82
 UT               80
 OR               80
 GA               76
 MN               76
 PA               63
 IN               59
 TN               54
 DC               47
 QC               36
 NV               34
 KS               24
 NJ               18
 HI               17
United States     17
Manhattan         17
California        15
 DE                6
 Cuyahoga          3
Texas              3
St Louis Park      2
Florida            2
Hawaii             1
Pennsylvania       1
 KY                1
 SC                1
Name: job_state, dtype: int64

In [26]:
# Removing leading zeros
data_frame['job_state'] = data_frame['job_state'].apply(lambda x: x.lstrip(' '))

In [27]:
# Removing Quebec, Canada jobs
data_frame = data_frame[data_frame['job_state']!='QC']

In [28]:
data_frame['job_state'].value_counts()

CA               610
TX               278
FL               253
OH               253
NC               182
NY               163
MD               106
MO               106
VA               102
MA                97
AZ                90
MI                86
CO                83
WA                82
IL                82
OR                80
UT                80
GA                76
MN                76
PA                63
IN                59
TN                54
DC                47
NV                34
KS                24
NJ                18
HI                17
United States     17
Manhattan         17
California        15
DE                 6
Cuyahoga           3
Texas              3
St Louis Park      2
Florida            2
Hawaii             1
Pennsylvania       1
KY                 1
SC                 1
Name: job_state, dtype: int64

In [29]:
data_frame['avg_salary'].describe()

count     3270.0
unique     270.0
top        155.0
freq       161.0
Name: avg_salary, dtype: float64

In [30]:
# Mapping states with 2 letter abbreviation 
data_frame['job_state'][data_frame['job_state']=='Manhattan']='NY'
data_frame['job_state'][data_frame['job_state']=='California']='CA'
data_frame['job_state'][data_frame['job_state']=='Texas']='TX'
data_frame['job_state'][data_frame['job_state']=='St Louis Park']='MN'
data_frame['job_state'][data_frame['job_state']=='Florida']='FL'
data_frame['job_state'][data_frame['job_state']=='Hawaii']='HI'
data_frame['job_state'][data_frame['job_state']=='Pennsylvania']='PA'
data_frame['job_state'][data_frame['job_state']=='Cuyahoga']='OH'

C:\Users\WM796GU\AppData\Local\Temp\ipykernel_39552\3010522983.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['job_state'][data_frame['job_state']=='California']='CA'
C:\Users\WM796GU\AppData\Local\Temp\ipykernel_39552\3010522983.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['job_state'][data_frame['job_state']=='Texas']='TX'
C:\Users\WM796GU\AppData\Local\Temp\ipykernel_39552\3010522983.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['job_state'][data_frame['job_state']=='St Louis Park']='MN'
C:\Users\WM796GU\AppData\Local\Temp\ipykernel_39552\3010522983.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['job_state'][data_frame['job_state']=='Florida']='FL'
C:\Users\WM796GU\AppData\Local\Temp\ipykernel_39552\3010522983.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['job_state'][data_frame['job_state']=='Hawaii']='HI'
C:\Users\WM796GU\AppData\Local\Temp\ipykernel_39552\3010522983.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['job_state'][data_frame['job_state']=='Pennsylvania']='PA'
C:\Users\WM796GU\AppData\Local\Temp\ipykernel_39552\3010522983.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['job_state'][data_frame['job_state']=='Cuyahoga']='OH'

In [31]:
data_frame['job_state'].value_counts()

CA               625
TX               281
OH               256
FL               255
NC               182
NY               180
MD               106
MO               106
VA               102
MA                97
AZ                90
MI                86
CO                83
IL                82
WA                82
UT                80
OR                80
MN                78
GA                76
PA                64
IN                59
TN                54
DC                47
NV                34
KS                24
NJ                18
HI                18
United States     17
DE                 6
KY                 1
SC                 1
Name: job_state, dtype: int64

In [32]:
data_frame.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,hourly,employer provided,employer estimate,min_salary,max_salary,avg_salary,job_state
0,Geospatial Researcher/Data Scientist IV,$76K - $120K (Glassdoor est.),Battelle delivers when others can’t. We conduc...,3.6,Battelle,"Fort Belvoir, VA",1001 to 5000 Employees,1929,Nonprofit Organization,Research & Development,Management & Consulting,$5 to $10 billion (USD),0,0,0,76.0,120.0,98.0,VA
1,Senior Data Scientist,$101K - $138K (Glassdoor est.),"JDSAT, Inc. is a solutions company - utilizing...",4.3,JDSAT,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,0,0,0,101.0,138.0,119.5,VA
2,Software Integrator / Data Scientist - Expert ...,$74K - $109K (Glassdoor est.),*** Must have TS/SCI ***\nJOB DESCRIPTION:\nIn...,4.6,Que Technology Group,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),0,0,0,74.0,109.0,91.5,VA
3,Lead Data Scientist,$116K - $161K (Glassdoor est.),Tensure is a fully-remote technology consultin...,3.8,Tensure Consulting,"Washington, DC",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,0,0,0,116.0,161.0,138.5,DC
4,Data Scientist,$76K - $108K (Glassdoor est.),"JDSAT, Inc. is a solutions company - utilizing...",4.3,JDSAT,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,0,0,0,76.0,108.0,92.0,VA

In [33]:
data_frame['job_state'].isnull().sum()

0

In [34]:
#age of company 
data_frame['age'] = data_frame.Founded.apply(lambda x: x if x <1 else 2022 - x)

In [35]:
data_frame.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,hourly,employer provided,employer estimate,min_salary,max_salary,avg_salary,job_state,age
0,Geospatial Researcher/Data Scientist IV,$76K - $120K (Glassdoor est.),Battelle delivers when others can’t. We conduc...,3.6,Battelle,"Fort Belvoir, VA",1001 to 5000 Employees,1929,Nonprofit Organization,Research & Development,Management & Consulting,$5 to $10 billion (USD),0,0,0,76.0,120.0,98.0,VA,93
1,Senior Data Scientist,$101K - $138K (Glassdoor est.),"JDSAT, Inc. is a solutions company - utilizing...",4.3,JDSAT,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,0,0,0,101.0,138.0,119.5,VA,-1
2,Software Integrator / Data Scientist - Expert ...,$74K - $109K (Glassdoor est.),*** Must have TS/SCI ***\nJOB DESCRIPTION:\nIn...,4.6,Que Technology Group,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),0,0,0,74.0,109.0,91.5,VA,-1
3,Lead Data Scientist,$116K - $161K (Glassdoor est.),Tensure is a fully-remote technology consultin...,3.8,Tensure Consulting,"Washington, DC",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,0,0,0,116.0,161.0,138.5,DC,-1
4,Data Scientist,$76K - $108K (Glassdoor est.),"JDSAT, Inc. is a solutions company - utilizing...",4.3,JDSAT,"McLean, VA",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,0,0,0,76.0,108.0,92.0,VA,-1

In [36]:
##parsing of job description (python, etc.)
#python
data_frame['python_yn'] = data_frame['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
data_frame.python_yn.value_counts()

0    2981
1     289
Name: python_yn, dtype: int64

In [37]:
#SQL
data_frame['sql_yn'] = data_frame['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
data_frame.sql_yn.value_counts()

0    3078
1     192
Name: sql_yn, dtype: int64

In [39]:
data_frame.to_csv('salary_data_cleaned.csv', index = False)